<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-lg mt-24">
    <h2 class="text-3xl font-bold text-center mb-6">Cambiar Contraseña</h2>
  
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <!-- Campo para la nueva contraseña -->
      <div>
        <label for="newPassword" class="block text-sm font-medium text-gray-700">Nueva Contraseña</label>
        <input
          type="password"
          id="newPassword"
          formControlName="newPassword"
          placeholder="Introduce tu nueva contraseña"
          class="mt-2 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          required
        />
        <div *ngIf="changePasswordForm.controls['newPassword'].invalid && changePasswordForm.controls['newPassword'].touched" class="text-red-500 mt-2 text-sm">
          <small *ngIf="changePasswordForm.controls['newPassword'].errors?.['required']">La nueva contraseña es obligatoria</small>
          <small *ngIf="changePasswordForm.controls['newPassword'].errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</small>
        </div>
      </div>
  
      <!-- Campo para confirmar la nueva contraseña -->
      <div>
        <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirmar Contraseña</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirma tu nueva contraseña"
          class="mt-2 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          required
        />
        <div *ngIf="changePasswordForm.errors?.['mismatch'] && changePasswordForm.controls['confirmPassword'].touched" class="text-red-500 mt-2 text-sm">
          <small>Las contraseñas no coinciden</small>
        </div>
      </div>
  
      <!-- Botón para cambiar la contraseña -->
      <button
        type="submit"
        [disabled]="changePasswordForm.invalid"
        class="w-full bg-black text-white font-semibold py-2 rounded-md hover:bg-gray-800 transition-colors duration-200 disabled:opacity-50"
      >
        Cambiar Contraseña
      </button>
    </form>
  
    <!-- Mensajes de éxito o error -->
    <div *ngIf="message" class="mt-4 p-4 bg-green-100 text-green-700 rounded-md text-center">
      {{ message }}
    </div>
    <div *ngIf="error" class="mt-4 p-4 bg-red-100 text-red-700 rounded-md text-center">
      {{ error }}
    </div>
  </div>
  