<div *ngif="cookiesAccepted" class="fixed bottom-4 left-1/2 transform -translate-x-1/2 w-11/12  bg-white 
shadow-2xl p-6 rounded-lg border border-gray-200 transition-all duration-500 ease-in-out"
    [ngClass]="{'translate-y-full opacity-0': cookiesAccepted, 'translate-y-0 opacity-100': !cookiesAccepted}">

    <div class="flex flex-col md:flex-row md:items-center md:justify-between space-y-4 md:space-y-0">

        <!-- Texto -->
        <p class="text-gray-700 font-montserrat text-sm font-medium leading-relaxed text-center md:text-left">
            Utilizamos cookies para mejorar su experiencia en nuestro sitio web. Al continuar, aceptas nuestro
            <a href="/uso-de-cookies" class="text-blue-500 underline hover:text-blue-700 transition-colors">uso de
                cookies</a>.
        </p>

        <!-- Botón Aceptar -->
        <button
            class="bg-gradient-to-r from-burgundy to-deepBurgundy hover:from-deepBurgundy hover:to-burgundy text-white px-6 py-2 rounded-full shadow-lg 
            transform transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-2xl 
            focus:outline-none focus:ring-4 focus:ring-burgundy"
            (click)="acceptCookies()" aria-label="Aceptar uso de cookies">
            Aceptar
        </button>

    </div>
</div>