<div class="flex items-center justify-center min-h-screen">
  <form [formGroup]="otpForm" (ngSubmit)="onSubmit()" autocomplete="off" class="bg-white p-8 rounded-lg shadow-xl">
    <h2 class="text-3xl font-montserrat font-bold text-center mb-6 text-black">
      <span class="icon-[iconoir--airplay]" style="color: black;"></span>
      Introduce tu código OTP
    </h2>

    <div class="flex space-x-4 justify-center">
      <input type="text" formControlName="otp1" id="otp1" maxlength="1"
        class="w-14 h-14 text-center text-3xl font-bold text-black bg-gray-100 border border-gray-400 focus:ring-black focus:border-black rounded-lg transition-all duration-300 focus:outline-none"
        (input)="moveToNextField($event, 'otp2')" />
      <input type="text" formControlName="otp2" id="otp2" maxlength="1"
        class="w-14 h-14 text-center text-3xl font-bold text-black bg-gray-100 border border-gray-400 focus:ring-black focus:border-black rounded-lg transition-all duration-300 focus:outline-none"
        (input)="moveToNextField($event, 'otp3')" />
      <input type="text" formControlName="otp3" id="otp3" maxlength="1"
        class="w-14 h-14 text-center text-3xl font-bold text-black bg-gray-100 border border-gray-400 focus:ring-black focus:border-black rounded-lg transition-all duration-300 focus:outline-none"
        (input)="moveToNextField($event, 'otp4')" />
      <input type="text" formControlName="otp4" id="otp4" maxlength="1"
        class="w-14 h-14 text-center text-3xl font-bold text-black bg-gray-100 border border-gray-400 focus:ring-black focus:border-black rounded-lg transition-all duration-300 focus:outline-none"
        (input)="moveToNextField($event, 'otp5')" />
      <input type="text" formControlName="otp5" id="otp5" maxlength="1"
        class="w-14 h-14 text-center text-3xl font-bold text-black bg-gray-100 border border-gray-400 focus:ring-black focus:border-black rounded-lg transition-all duration-300 focus:outline-none"
        (input)="moveToNextField($event, 'otp6')" />
      <input type="text" formControlName="otp6" id="otp6" maxlength="1"
        class="w-14 h-14 text-center text-3xl font-bold text-black bg-gray-100 border border-gray-400 focus:ring-black focus:border-black rounded-lg transition-all duration-300 focus:outline-none" />
    </div>

    <button type="submit"
      class="w-full mt-6 bg-black text-white font-bold py-3 rounded-lg hover:bg-gray-800 flex items-center justify-center space-x-2 transition-all duration-300">
      <span>Verificar</span>
      <span class="icon-[iconoir--check-circle]" style="color: white;"></span>
    </button>
  </form>
</div>
