<div class="container mx-auto">
  <h2 class="text-2xl font-bold mb-4">Políticas</h2>

  <!-- Botón para agregar nueva política -->
  <button (click)="agregarPolitica()" class="text-blue-600 mb-4">
    Agregar
  </button>

  <!-- Formulario para agregar o editar políticas -->
  <div *ngIf="editMode || selectedPolitica" class="bg-white p-6 rounded shadow-md mb-4">
    <h3 class="text-lg font-semibold mb-4">{{ isEditing ? 'Editar Política' : 'Agregar Política' }}</h3>

    <form (ngSubmit)="savePolicy()">
      <div class="mb-4">
        <label class="block mb-2">Título</label>
        <input type="text" [(ngModel)]="policyForm.title" name="title" class="w-full p-3 border rounded-md" required />
      </div>

      <div class="mb-4">
        <label class="block mb-2">Descripción</label>
        <textarea [(ngModel)]="policyForm.description" name="description" class="w-full p-3 border rounded-md" required></textarea>
      </div>

      <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded">
        {{ isEditing ? 'Guardar Cambios' : 'Agregar' }}
      </button>
      <button type="button" class="bg-red-500 text-white py-2 px-4 ml-2 rounded" (click)="cerrarModal()">Cancelar</button>
    </form>
  </div>

  <!-- Sección para mostrar detalles de la política seleccionada -->
  <div *ngIf="selectedPolitica && !isEditing" class="bg-white p-6 rounded shadow-md mb-4">
    <h3 class="text-lg font-semibold mb-4">Detalles de la Política</h3>
    
    <p><strong>Título:</strong> {{ selectedPolitica.title }}</p>
    <p><strong>Descripción:</strong> {{ selectedPolitica.description }}</p>
    
    <button class="bg-blue-500 text-white py-2 px-4 rounded" (click)="cerrarModal()">Cerrar</button>
  </div>

  <!-- Tabla de Políticas -->
  <table class="w-full border-collapse">
    <thead>
      <tr class="bg-gray-200 text-left">
        <th class="p-4">Num</th>
        <th class="p-4">Título</th>
        <th class="p-4">Política</th>
        <th class="p-4">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let policy of politicas; let i = index">
        <td class="p-4 border">{{ i + 1 }}</td>
        <td class="p-4 border">{{ policy.title }}</td>
        <td class="p-4 border">{{ policy.description | slice: 0:50 }}...</td>
        <td class="p-4 border">
          <button class="text-blue-500" (click)="verPolitica(policy)">Ver</button>
          <button class="text-yellow-500 ml-2" (click)="editarPolitica(policy)">Editar</button>
          <button class="text-red-500 ml-2" (click)="deletePolicy(policy._id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
