<aside class="w-64 bg-gray-100 p-6 border-r border-gray-300 h-full">
  <h2 class="text-lg font-bold text-black mb-6 text-center">Administrador</h2>
  <nav class="space-y-2">
    <a routerLink="/admin" class="block text-blue-600 font-medium">Inicio</a>
    <a href="#" class="block text-gray-700">Categorías</a>
    <a href="#" class="block text-gray-700">Productos</a>
    <a routerLink="/admin/user" class="block text-gray-700">Usuarios</a>
    <a routerLink="/admin/incidencias" class="block text-gray-700">Incidencias</a>
    <a href="#" class="block text-gray-700">Preguntas</a>
    <a href="/admin/politicas" class="block text-gray-700">Políticas</a>
    <a href="#" class="block text-gray-700">Contacto</a>
  </nav>
</aside>
  