<div class="flex items-center justify-center py-12">
  <div class="flex flex-col md:flex-row w-full max-w-5xl shadow-lg rounded-lg overflow-hidden bg-white mx-auto">
    <!-- Sección Izquierda: Formularios -->
    <div class="w-full md:w-1/2 p-6 md:p-12 flex flex-col justify-center">
      <div class="text-center md:text-left">
        <h1 class="text-2xl md:text-4xl font-bold mb-6 text-gray-900 font-montserrat text-center">Iniciar Sesión</h1>
        <!-- Formulario de Login -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4 w-full max-w-sm mx-auto md:mx-0">
          <!-- Usuario -->
          <div class="relative w-full">
            <!-- Input de Usuario -->
            <input 
              type="text" 
              formControlName="username" 
              placeholder="Nombre de Usuario" 
              class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-md shadow-sm 
              focus:outline-none focus:ring-2 focus:ring-black focus:border-black" 
            />
            
            <!-- Icono de Usuario -->
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <i class="icon-[mdi--account] w-6 h-6 text-gray-400"></i>
            </span>

          </div>

          <!-- Mensaje de Error para Usuario
          <div *ngIf="this.loginForm.get('username')?.untouched">
            <small 
              *ngIf="this.loginForm.get('username')?.invalid && 
              this.loginForm.get('username')?.dirty"
              class="text-red-600 mt-2 block text-left">
              Por favor, el nombre de usuario es requerido
            </small>
          </div> -->

          <!-- Contraseña -->
          <div class="relative w-full">
            <!-- Input de Contraseña -->
            <input 
              [type]="getPasswordFieldType()" 
              formControlName="password" 
              placeholder="Contraseña" 
              class="w-full pl-10 pr-12 py-2 border border-gray-300 rounded-md shadow-sm 
              focus:outline-none focus:ring-2 focus:ring-black focus:border-black" 
            />

            <!-- Icono de Contraseña -->
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <i class="icon-[mdi--password] w-6 h-6 text-gray-400"></i>
            </span>

            <!-- Icono de Mostrar/Ocultar Contraseña -->
            <span class="absolute inset-y-0 right-3 flex items-center cursor-pointer" (click)="togglePasswordVisible()">
              <i [ngClass]="getPasswordIconEye()" class="w-5 h-5 text-gray-500"></i>
            </span>
          </div>

          <!-- Mensaje de Error para Contraseña
          <div *ngIf="this.loginForm.get('password')?.untouched">
            <small 
              *ngIf="this.loginForm.get('password')?.invalid && 
              this.loginForm.get('password')?.dirty"
              class="text-red-600 mt-2 block text-left">
              La contraseña es requerida
            </small>
          </div> -->

        <!-- Botón para Iniciar Sesión -->
<button 
type="submit"
class="font-montserrat w-full bg-black text-white py-2 rounded-md 
hover:bg-gray-800 mt-4">
Iniciar Sesión
</button>

<small class="block text-center font-sans text-sm mt-4">
<p class="mb-2">¿No te has registrado? Haz clic 
  <a href="auth/signin" aria-label="Conectate" 
     class="text-indigo-500 font-medium underline hover:text-indigo-700 transition-colors duration-200">
    aquí
  </a> 
  para registrarte.
</p>
<!--  -->
<a href="/auth/olvidar-pass" 
   class="text-gray-600 font-medium hover:text-gray-800 transition-colors duration-200">
  ¿Olvidaste tu contraseña?
</a>
</small>


          <!-- Línea divisoria para oAuth -->
          <!-- <div class="flex items-center justify-between mt-4">
            <hr class="border-t-2 w-full border-gray-300">
            <span class="text-sm px-2 text-gray-500">O</span>
            <hr class="border-t-2 w-full border-gray-300">
          </div> -->

        </form>
      </div>
    </div>

    <!-- Sección Derecha: Imagen Lateral -->
    <div class="w-full md:w-1/2 relative hidden md:block">
      <img src="./tree_2.jpg" alt="Imagen Lateral" class="h-full w-full object-cover">
      <div class="absolute inset-0 bg-black opacity-30"></div>
    </div>
  </div>
</div>
