<!-- Mostrar solo la animación de carga si isLoading es true -->
<app-loading *ngIf="isLoading; else Home"></app-loading>

<!-- Mostrar todo el contenido solo si isLoading es false -->
<ng-template #Home>
  <!-- Navbar -->
  <div class="bg-white dark:bg-gray-900 text-black dark:text-white transition-colors duration-300">
    <app-navbar></app-navbar>
  </div>



  <!-- Contenido principal gestionado por el Router -->
  <div class="min-h-screen bg-platinum dark:bg-gray-900 text-black dark:text-gray-100 transition-colors duration-300">
    <router-outlet></router-outlet>
    <app-cookiebanner></app-cookiebanner>    
  </div>

  <!-- Footer (si lo tienes, también debe tener soporte para modo oscuro) -->
  <!-- <app-footer></app-footer> -->

 


</ng-template>
