<!-- Navbar -->
<header class="sticky top-0 bg-white shadow z-10">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <div class="text-2xl font-bold" routerLink="/">
            <img src="./logo.png" width="100">
        </div>

        <!-- Navegación -->
        <nav class="space-x-4 text-lg">
            <a href="#" class="hover:text-indigo-500">Nuevo Hoy</a>
            <a href="#" class="hover:text-indigo-500">Ropa</a>
            <a href="#" class="hover:text-indigo-500">Calzado</a>
            <a href="#" class="hover:text-indigo-500">Belleza</a>
            <a href="#" class="hover:text-indigo-500">Accesorios</a>
        </nav>

        <!-- Controles de búsqueda y carrito -->

        <!-- Input de búsqueda -->
        <div class="flex items-center space-x-4">

            <a href="/conectate"><button class="hover:text-indigo-500">Conectate</button></a>
            <button class="hover:text-indigo-500">Carrito</button>
        </div>
    </div>
</header>
<!-- Navbar -->
<div class="min-h-screen bg-gray-100">
    <router-outlet> </router-outlet>
</div>
<!-- Footer -->
 