<!-- Mostrar solo la animación de carga si isLoading es true -->
<!-- <app-loading *ngIf="isLoading; else Home"></app-loading> -->

<!-- Mostrar todo el contenido solo si isLoading es false -->
<!-- <ng-template #Home> -->
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- Contenido principal gestionado por el Router -->
  <div class="min-h-screen bg-platinum">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <!-- <app-footer></app-footer> Si tienes un footer -->
<!-- </ng-template> -->
