/* Fondo del body con imagen desde public/ */
body {
  margin: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.06) url('/fondo.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Contenedor del input y los íconos */
.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

/* Ajustar el input */
.input-container input {
  width: 100%;
  padding-right: 3rem; /* Espacio para el ícono */
  padding-left: 1rem;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

/* Efecto al enfocar el input */
.input-container input:focus {
  border-color: #4A90E2; /* Borde azul al hacer focus */
  outline: none;
}

/* Ícono alineado dentro del input */
.input-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Estilo base del ícono */
.input-icon i {
  font-size: 1.5rem;
  display: inline-block;
  transition: color 0.3s; /* Transición suave de color */
}

/* Colores específicos para cada fortaleza */
.text-red-500 {
  color: #e53e3e; /* Rojo brillante para contraseña débil */
}

.text-yellow-500 {
  color: #ffaa00; /* Amarillo para contraseña media */
}

.text-green-500 {
  color: #38a169; /* Verde para contraseña fuerte */
}

/* Botones sociales */
.social-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #352f2f;
  transition: background-color 0.3s, transform 0.2s;
}

.social-btn:hover {
  background-color: #333;
  transform: scale(1.1);
}

/* Centrar el reCAPTCHA */
.g-recaptcha {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}


/* Imagen lateral con opacidad */
.image-lateral {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.9;
}

/* Overlay transparente para la imagen lateral */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
