<!-- Contenido Principal -->
<div class="min-h-screen flex items-center justify-center bg-gray-100 p-4">
  <div class="flex flex-col md:flex-row w-full max-w-5xl shadow-lg rounded-lg overflow-hidden bg-white">
    <!-- Sección Izquierda: Formularios -->
    <div class="w-full md:w-1/2 p-6 md:p-12">
      <nav class="flex justify-around text-lg font-semibold mb-8 text-gray-800">
        <button (click)="changeForm(true)" class="hover:underline">Regístrate</button>
        <button (click)="changeForm(false)" class="hover:underline">Iniciar sesión</button>
      </nav>

      <div class="text-center">
        <ng-container *ngIf="showRegister; else loginTemplate">
          <h1 class="text-3xl md:text-4xl font-bold mb-6 text-gray-900">Únete a Nosotros</h1>
          <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" class="space-y-4 w-full max-w-sm mx-auto">
            <input type="text" formControlName="username" placeholder="Username"
              class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm" />

            <input type="email" formControlName="email" placeholder="Correo Electrónico"
              class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm" />

            <div class="relative">
              <input type="password" formControlName="password" placeholder="Contraseña"
                class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm" />
              <span class="absolute inset-y-0 right-4 flex items-center">
                <i [ngClass]="getPasswordIcon()"></i>
              </span>
            </div>

            <input type="password" formControlName="confirmPassword" placeholder="Confirmar Contraseña"
              class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm" />

            <div *ngIf="registerForm.errors?.['passwordsMismatch'] && registerForm.touched"
              class="text-red-500 text-sm">
              Las contraseñas no coinciden.
            </div>

            <div class="flex items-center justify-center">
              <div class="g-recaptcha" id="recaptcha-container" data-sitekey="6LdUFV8qAAAAACkMDvyHFVmW9W5EVjMBov_LGyMQ"
                data-callback="onCaptchaResolved"></div>
            </div>


            <button type="submit" class="w-full bg-black text-white py-2 rounded-md hover:bg-gray-800 mt-4">
              Registrarse
            </button>
          </form>
        </ng-container>

        <ng-template #loginTemplate>
          <h1 class="text-3xl md:text-4xl font-bold mb-6 text-gray-900">Bienvenido de Nuevo</h1>
          <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="space-y-4 w-full max-w-sm mx-auto">
            <input type="email" formControlName="email" placeholder="Correo Electrónico"
              class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm" />
            <input type="password" formControlName="password" placeholder="Contraseña"
              class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm" />

            <button type="submit" class="w-full bg-black text-white py-2 rounded-md hover:bg-gray-800">
              Iniciar sesión
            </button>

            <div class="mt-8 flex justify-center space-x-4">
              <a href="#" class="social-btn">
                <img src="facebook.ico" alt="Facebook" class="h-8 w-8" />
              </a>
              <a href="#" class="social-btn">
                <img src="whatsapp.ico" alt="WhatsApp" class="h-8 w-8" />
              </a>
            </div>
          </form>
        </ng-template>
      </div>
    </div>

    <!-- Sección Derecha: Imagen Lateral -->
    <div class="w-full md:w-1/2 relative hidden md:block">
      <img src="/Hola_prueba.jpg" alt="Imagen Lateral" class="object-cover h-full w-full">
      <div class="absolute inset-0 bg-black opacity-30"></div>
    </div>
  </div>
</div>